@import '_variables'
.home
	height: inherit
	overflow-x: auto
	background-color: $basic-bg
	scroll-behavior: smooth !important
	&-wrapper
		max-width: 90%
		margin: 0 auto
		@media screen and (max-width: 992px)
			max-width: 99%
	&-navbare
		width: 100%
		height: 60px
		display: flex
		align-items: center
		justify-content: space-between
		background-color: $basic-bg
		img
			height: 40px
		&_anhors
			display: flex
			align-items: center
			justify-content: space-around
			&-li
				width: 140px
				height: 48px
				background-color: transparent
				margin: 0 5px
				border-radius: $border-radius
				text-transform: uppercase
				font-weight: 600
				@include hoverButton
				@media screen and (max-width: 992px)
					display: none
			&-link
				width: 100%
				height: 100%
				color: $basic-color-text
				@include centering
		&_buttons
			@include centering
		&_button
			width: 195px
			height: 48px
			border-radius: $border-radius
			background-color: $basic-color-green
			border: none
			color: $white
			font-size: 14px
			font-weight: 600
			@include hoverButton
			@media screen and (max-width: 992px)
				width: 140px
	&-firstBlock
		margin-top: 100px
		margin-bottom: 30px
		display: flex
		align-items: flex-start
		justify-content: space-around
		position: relative
		@media screen and (max-width: 992px)
			justify-content: center
			margin-top: 30px
		&_wrapper
			@include calc("max-width", 992, 320)
			width: 100%
			height: max-content
			position: relative
			left: 0
			z-index: 2
			h1, h2
				@include calc("font-size", 60, 30)
				white-space: break-spaces
				@media screen and (max-width: 992px)
					text-align: center
			h1
				color: $basic-color-text
			h2
				color: $basic-color-text-green
		&_title
			@include calc("font-size", 30, 24)
			color: $basic-color-text
			@media screen and (max-width: 992px)
				@include centering
				flex-direction: column
			p, span
				font-weight: lighter
				@include calc("font-size", 22, 14)
				line-height: 1.6em
				margin-bottom: 20px
				@media screen and (max-width: 992px)
					margin-bottom: 10px
			a
				@include buttonCustom
				background-color: $basic-color-text-orange
		&_image
			@include calc("max-width", 772, 350)
			@include calc("max-height", 600, 350)
			position: relative
			right: 0
			z-index: 1
			@media screen and (max-width: 992px)
				display: none
			img
				width: 100%
				height: 100%
			&-mob
				width: 100%
				max-height: 450px
				height: 100%
				img
					width: 100%
					height: 100%
				@media screen and (min-width: 992px)
					display: none

	&-secondBlock
		display: flex
		align-items: center
		justify-content: center
		position: relative
		margin: 0 auto
		color: $basic-color-text
		@media screen and (max-width: 692px)
			flex-wrap: wrap
		&_title
			h2
				text-align: center
				@include calc("font-size", 36, 20)
				font-weight: 500
		&_list
			display: flex
			align-items: center
			justify-content: space-around
			flex-wrap: wrap
			&-li
				width: 302px
				height: 230px
				@include centering
				@media screen and (max-width: 992px)
					width: 100%
					height: auto
				span
					width: inherit
					height: inherit
					display: flex
					align-items: baseline
					justify-content: flex-start
					flex-direction: column
					padding: 50px
					@include calc("font-size", 18, 16)
					@media screen and (max-width: 992px)
						justify-content: center
						align-items: center
				img
					width: 56px
					height: 56px
					margin-bottom: 30px

	&-thirdBlock
		display: flex
		align-items: flex-start
		justify-content: space-around
		position: relative
		overflow-x: hidden
		margin: 0 auto
		@media screen and (max-width: 692px)
			flex-direction: column
			align-items: center
			justify-content: center
		&_left
			max-width: 650px
			padding: 30px
			@media screen and (max-width: 692px)
				margin-bottom: 30px
				padding: 0 10px
			&-title
				@include calc("font-size", 36, 24)
				font-weight: 600
				text-align: center
			&-list
				margin: 20px 0
				&_li
					min-height: 80px
					display: flex
					align-items: center
					justify-content: flex-start
					span
						color: $basic-color-text
						font-weight: lighter
						@include calc("font-size", 16, 14)
						margin-left: 8px
						&:first-child
							text-align: right
							color: $basic-color-text-orange
							@include calc("font-size", 16, 14)
							margin-right: 30px
			&-button
				@include buttonCustom
				@media screen and (max-width: 692px)
					width: 100%
		&_right
			width: 509px
			height: 582px
			@media screen and (min-width: 692px)
				background: url("../images/third-screen-phone.png")
				background-size: contain
				background-repeat: no-repeat
				background-position: top
				z-index: 1
			@media screen and (max-width: 692px)
				background: url("../images/third-screen-phone-mob.png")
				background-size: cover
				background-repeat: no-repeat
				background-position: top

	&-fourthBlock
		width: 100%
		position: relative
		overflow-x: hidden
		margin: 0 auto
		background-color: $basic-color-light-grey
		&_wrapper
			width: inherit
			display: flex
			align-items: flex-start
			justify-content: space-between
			flex-direction: row
			padding: 30px 0
			@media screen and (max-width: 992px)
				flex-direction: column-reverse
				justify-content: center
				align-items: center
			&-photo
				width: 50%
				height: 610px
				min-height: 300px
				@media screen and (min-width: 992px)
					background: url("../images/fourth-screen-desctop.png")
					background-size: contain
					background-repeat: no-repeat
					background-position: left
				@media screen and (max-width: 992px)
					width: 100%
					height: auto
					background: url("../images/fourth-screen-desctop-mob.png")
					background-size: contain
					background-repeat: no-repeat
					background-position: center
			&-content
				width: 50%
				padding: 20px
				@media screen and (max-width: 992px)
					width: 100%
		&_title
			@include calc("font-size", 36, 26)
			font-weight: bold
			text-align: left
			margin-bottom: 30px
			@media screen and (max-width: 992px)
				text-align: center
		&_content
			font-weight: lighter
			@include calc("font-size", 18, 14)
			line-height: 1.6rem
			p
				&:first-child
					font-weight: 600
			@media screen and (max-width: 992px)
				padding: 0 12px
				text-align: center

	&-fifthBlock
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		margin: 30px auto
		&_title
			@include calc("font-size", 30, 24)
			font-weight: bold
			margin-bottom: 30px
		&_wrapper
			width: 100%
			display: flex
			align-items: start
			justify-content: space-between
			padding: 30px 0
			border-bottom: 1px solid $basic-color-light-grey
			border-top: 1px solid $basic-color-light-grey
			@media screen and (max-width: 992px)
				flex-wrap: wrap
				justify-content: center
			&-block
				display: flex
				align-items: center
				justify-content: flex-end
				flex-direction: column
				max-width: 320px
				width: 320px
				margin: 0 20px
				position: relative
				@media screen and (max-width: 992px)
					margin: 20px 0
				&_step
					width: 100px
					height: 130px
					position: absolute
					top: 0
					left: 0
					z-index: 1
				&_content
					width: 80%
					padding-top: 35px
					text-align: left
					line-height: 1.8rem
					position: relative
					z-index: 2
					@include calc("font-size", 20, 16)
					color: $basic-color-text
				&:first-child
					.home-fifthBlock_wrapper-block_content
						width: 65%
				&:last-child
					.home-fifthBlock_wrapper-block_content
						width: 65%
	&-sixthBlock
		padding: 100px 0
		display: flex
		align-items: center
		justify-content: space-around
		flex-direction: column
		&_title
			text-align: center
			@include calc("font-size", 36, 26)
			font-weight: bold
			&-subtitle
				@include calc("font-size", 18, 16)
				color: $basic-color-text-orange
				margin: 30px 0
		&_wrapper
			width: 100%
			max-width: 1300px
			display: flex
			align-items: center
			justify-content: space-around
			flex-wrap: wrap
			@media screen and (max-width: 992px)
				flex-direction: column
		&_block
			width: 387px
			min-width: 387px
			height: 600px
			background-color: $basic-color-light-grey-bg
			margin: 15px 0
			display: flex
			align-items: flex-start
			justify-content: space-between
			flex-direction: column
			padding: 30px
			border-radius: $border-radius
			position: relative
			@media screen and (max-width: 392px)
				min-width: 300px
				width: 100%
			&-title
				width: 100%
				display: flex
				align-items: center
				justify-content: flex-start
				@include calc("font-size", 24, 20)
				color: $basic-color-text
				font-weight: bolder
			&-header
			&-price
				@include calc("font-size", 46, 38)
				font-weight: 600
			&-description
				margin: 30px 0
				@include calc("font-size", 18, 16)
				@media screen and (max-width: 492px)
					padding: 0 10px
			&-sale
				h2
					@include calc("font-size", 22, 18)
					font-style: italic
			&-option
				width: 100%
				min-height: 320px
				font-weight: 600
				display: flex
				align-items: flex-start
				justify-content: flex-start
				@include calc("font-size", 16, 14)
				overflow-x: hidden
				&_ul
					overflow-x: auto
					li
						display: flex
						align-items: center
						justify-content: flex-start
						margin: 12px 0
			button
				width: 100%

	&-carousel
		width: 100%
		display: flex
		flex-direction: column
		justify-content: space-around
		background-color: $basic-color-text
		position: relative
		z-index: 2
		overflow-y: hidden
		&_title
			@include calc("font-size", 36, 26)
			text-align: center
			color: $white
		&_bottomBg
			height: 50%
			background-color: $white
			position: absolute
			bottom: 0
			left: 0
			right: 0
			z-index: 1
		&_wrapper
			width: 100%
			height: 100%
			overflow-y: auto
			position: relative
			z-index: 2
			display: flex
			align-items: center
			justify-content: space-between
			padding: 30px 30px 60px 30px
		&_content
			@include starting
			flex-direction: column
			min-width: 325px
			width: 325px
			height: 417px
			background-color: $white
			border-radius: $border-radius
			padding: 30px
			box-shadow: $box-shadow-lg
			margin: 0 30px 0 0
			&:last-child
				margin: 0
			&-wrapper
				&_header
					display: flex
					align-items: center
					justify-content: flex-start
					img
						width: 72px
						height: 72px
					&-block
						margin-left: 20px
						&_name
							font-size: 16px
							font-weight: 600
						&_position
							font-size: 14px
							font-weight: 500
							color: $basic-color-text-grey
				&_content
					margin-top: 30px
					&-text
						overflow: auto
						height: 250px
						line-height: 25px
						padding: 0 8px
	&-seventhBlock
		padding: 100px 0 30px 0
		display: flex
		align-items: center
		justify-content: space-around
		flex-direction: column
		position: relative
		overflow-x: hidden
		margin: 0 auto
		&_title
			text-align: center
			@include calc("font-size", 24, 22)
			font-weight: bold
			margin-bottom: 30px
		&_wrapper
			@include centering
			&-block
				@include centering
				@media screen and (max-width: 692px)
					height: 100px
					flex-direction: column
					justify-content: space-around
				a
					color: $basic-color-text
					margin-right: 30px
					cursor: pointer
					img
						cursor: pointer
					span
						margin-left: 10px
						cursor: pointer
			&-text
				margin-top: 30px
				font-size: 14px
				font-weight: 300
				color: $basic-color-text-grey
