@import '_variables'
.home
	max-width: 1280px
	width: 100vw
	height: 90vh
	overflow: hidden
	border-radius: 6px
	scroll-behavior: smooth
	color: $basic-color-text

	&-wrapper
		overflow: auto
		height: 100%
		position: relative
		background: url("../images/goldBg.png")
		background-size: contain
		background-repeat: no-repeat
		background-position: top

	&-navbare
		width: 100%
		padding: 10px 15px
		border-radius: 6px
		display: flex
		align-items: center
		justify-content: space-between
		background: $basic-bg-opacity

		img
			max-height: 40px

		&_buttons
			button
				margin: 0 6px

				&:last-child
					background-color: $basic-color
					border-color: $basic-color

					&:hover
						border-color: #f3f8ff

	&-firstBlock
		@include starting
		position: relative

		&_wrapper
			width: 100%
			display: flex
			align-items: flex-start
			justify-content: center
			flex-direction: column
			margin-top: 50px

			h1, h2
				width: 100%
				text-align: center
				@include calc("font-size", 50, 26)
				font-weight: bold

			h1
				font-weight: 900

		&_title
			width: 550px
			height: 400px
			display: flex
			align-items: flex-end
			justify-content: center
			flex-direction: column
			padding: 0 30px
			position: relative
			z-index: 2
			text-align: center
			font-weight: bold

			h2
				@include calc("font-size", 35, 18)
				font-weight: lighter
				text-align: center
				font-weight: bold
				text-shadow: none

			p
				margin-top: 20px
				font-size: 20px
				@include calc("font-size", 18, 16)

			button, a
				width: 200px
				height: 50px
				border: 2px solid $basic-color
				@include centering
				border-radius: 6px
				background-color: transparent
				margin-top: 20px
				cursor: pointer
				@include calc("font-size", 18, 16)
				color: $basic-color

			@media screen and (max-width: 992px)
				width: 100%
				align-items: center
			@media screen and (max-width: 480px)
				padding: 0 6px

		&_image
			width: 650px
			min-height: 400px
			background: url("../images/theke-one.png")
			background-size: contain
			background-repeat: no-repeat
			background-position: right
			position: absolute
			right: 0
			bottom: 0
			z-index: 1
			@media screen and (max-width: 992px)
				width: 200px
				min-height: 170px
				opacity: 0.5

	&-secondBlock
		width: 100%
		display: flex
		align-items: center
		justify-content: flex-end
		position: relative
		margin-top: 20px
		background-color: $white

		&_title
			height: 500px
			display: flex
			align-items: flex-end
			justify-content: center
			flex-direction: column
			padding: 0 30px
			text-align: start
			position: relative
			z-index: 2
			min-width: 250px
			max-width: 500px

			h2
				@include calc("font-size", 20, 18)
				font-weight: bold

			@media screen and (max-width: 992px)
				width: 100%
				align-items: center

			&:last-child
				align-items: flex-start
				@media screen and (max-width: 992px)
					align-items: center

			button
				padding: 15px 30px
				background-color: $basic-color
				color: #fff
				border-radius: 6px

		&_list
			display: flex
			align-items: flex-start
			justify-content: flex-start
			flex-direction: column

			&-li
				margin: 15px 0
				display: flex
				align-items: center
				justify-content: flex-start
				padding: 0 8px

				span
					@include calc("font-size", 16, 14)
					margin-left: 8px

				img
					width: 20px
					height: 20px

		&_image
			width: 485px
			min-height: 400px
			background: url("../images/theke-two.jpg")
			background-size: contain
			background-repeat: no-repeat
			background-position: right
			position: absolute
			left: 0
			bottom: 30px
			z-index: 1
			@media screen and (max-width: 992px)
				opacity: 0.2
				width: 100%
				min-height: 170px

	&-thirdBlock
		width: 100%
		min-height: 560px
		display: flex
		align-items: center
		justify-content: center
		position: relative
		background: url("../images/goldBgrotate.png")
		background-size: contain
		background-repeat: no-repeat
		background-position: center

		&_left
			padding-left: 30px
			position: relative
			z-index: 3
			min-width: 250px
			max-width: 500px

			&-title
				@include calc("font-size", 20, 18)
				font-weight: bold

			&-list
				display: flex
				align-items: flex-start
				justify-content: center
				flex-direction: column

				&_li
					margin: 15px 0
					display: flex
					align-items: center
					justify-content: flex-start
					padding: 0 8px

					span
						@include calc("font-size", 16, 14)
						margin-left: 8px

					img
						width: 20px
						height: 20px

			&-button
				padding: 15px 30px
				background-color: $basic-color
				color: #fff
				border-radius: 6px

		&_right
			width: 650px
			min-height: 400px
			background: url("../images/theke-there.jpg")
			background-size: contain
			background-repeat: no-repeat
			background-position: top
			z-index: 1
			@media screen and (max-width: 992px)
				width: 100%
				min-height: 250px
				position: absolute
				bottom: 0
				right: 0
				opacity: 0.2
				background-position: bottom

	&-fourthBlock
		width: 100%
		min-height: 350px
		@include centering
		flex-direction: column
		padding: 30px 10px
		background-color: $white
		&_title
			color: $basic-color-text
			text-align: center
			@include calc("font-size", 25, 18)
			font-weight: bold
		&_content
			width: 100%
			height: max-content
			text-align: center
			@include calc("font-size", 18, 16)
			@include calc("max-width", 700, 300)
			margin-top: 30px

			p
				line-height: 35px

	&-fifthBlock
		width: 100%
		height: max-content
		background-color: $basic-color-text
		padding: 30px 0
		color: $basic-color-text

		&_title
			text-align: center
			@include calc("font-size", 25, 18)
			font-weight: bold
			color: $white

		&_wrapper
			width: 100%
			display: flex
			align-content: center
			justify-content: space-around
			padding: 20px
			position: relative
			flex-wrap: wrap

			&-block
				max-width: 320px
				margin: 0 6px
				text-align: center
				padding: 15px 10px
				border-radius: $border-radius
				background-color: $white
				@media screen and (max-width: 1040px)
					margin: 5px 0
				&_step
					width: 100px
					height: 100px

				&_content
					margin-top: 15px
					line-height: 25px
					@include calc("font-size", 16, 14)

	&-sixthBlock
		width: 100%
		background-color: $basic-color-text
		padding: 30px 0
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		overflow: hidden

		&_title
			color: $white
			text-align: center
			@include calc("font-size", 25, 18)
			font-weight: bold

		&_wrapper
			width: 100%
			display: flex
			align-items: center
			justify-content: center
			@media screen and (max-width: 992px)
				flex-direction: column

		&_block
			border-radius: 6px
			padding: 30px
			background-color: #fff
			display: flex
			align-items: center
			justify-content: center
			flex-direction: column
			position: relative
			margin: 10px

			&-title
				@include calc("font-size", 26, 20)
				font-weight: bold

			&-sale
				h2
					color: $red
					@include calc("font-size", 22, 18)
					font-style: italic

			&-price
				@include calc("font-size", 36, 26)
				margin: 20px 0 30px 0

			&-option
				color: $red
				font-style: italic
				font-weight: 900
				@include calc("font-size", 12, 11)
				text-align: center

		&_button
			width: 320px
			height: 60px
			border: 2px solid $basic-color
			background-color: $basic-color
			border-radius: 6px
			@include calc("font-size", 22, 18)
			color: #fff
			margin-top: 20px

	&-carousel
		min-height: 350px

		&_wrapper
			min-height: 350px
			height: 100%
			@include centering

			&-item
				margin: 0 !important

		&_content
			@include starting
			flex-direction: column
			min-height: 350px
			overflow: hidden
			width: 100%
			height: 100%

			h3
				@include calc("font-size", 26, 18)

			p
				@include calc("font-size", 14, 12)
				@include calc("width", 600, 300)
				overflow: auto
				height: 150px
				line-height: 25px
				padding: 0 8px
	&-seventhBlock
		min-height: 200px
		display: flex
		align-items: center
		justify-content: space-between
		flex-direction: column
		background-color: $white
		&_title
			color: $basic-color-text
			text-align: center
			@include calc("font-size", 25, 18)
			font-weight: bold
			@include calc("margin-top", 30, 20)

.carousel-inner
	height: 250px
	@include starting
	align-items: flex-start

.carousel-item
	margin: 0 !important

.carousel-control-next, .carousel-control-prev, .carousel-control-next-icon, .carousel-control-prev-icon
	cursor: pointer
