@import '_variables'
.home
	color: #505160
	max-width: 1280px
	width: 100vw
	height: 90vh
	overflow: hidden
	border-radius: 6px
	scroll-behavior: smooth

	&-wrapper
		overflow: auto
		height: 100%
		position: relative
		background: url("../images/goldBg.png")
		background-size: contain
		background-repeat: no-repeat
		background-position: top

	&-navbare
		width: 100%
		padding: 10px 15px
		border-radius: 6px
		display: flex
		align-items: center
		justify-content: space-between
		background: linear-gradient(to bottom, rgba(250, 250, 250, 0.12) 40%, rgba(227, 232, 248, 0.3) 100%)

		img
			max-height: 40px

		&_buttons
			button
				margin: 0 6px

				&:last-child
					background-color: #505160
					border-color: #505160

					&:hover
						border-color: #f3f8ff

	&-firstBlock
		@include starting
		position: relative

		&_wrapper
			width: 100%
			display: flex
			align-items: flex-start
			justify-content: center
			flex-direction: column
			margin-top: 50px

			h1, h2
				width: 100%
				text-align: center
				@include calc("font-size", 50, 26)
				text-shadow: $basic-color 1px 1px
				font-weight: bold

		&_title
			width: 550px
			height: 400px
			display: flex
			align-items: flex-end
			justify-content: center
			flex-direction: column
			padding: 0 30px
			position: relative
			z-index: 2
			text-align: center
			font-weight: bold

			h2
				@include calc("font-size", 35, 18)
				font-weight: lighter
				text-align: center
				font-weight: bold
				text-shadow: none

			p
				margin-top: 30px
				font-size: 20px
				@include calc("font-size", 18, 16)

			button, a
				width: 200px
				height: 50px
				border: 2px solid #505160
				@include centering
				border-radius: 6px
				background-color: transparent
				margin-top: 20px
				cursor: pointer
				@include calc("font-size", 18, 16)
				color: #505160

			@media screen and (max-width: 992px)
				width: 100%
				align-items: center
			@media screen and (max-width: 480px)
				padding: 0 6px

		&_image
			width: 350px
			min-height: 400px
			background: url("../images/theke-one.png")
			background-size: contain
			background-repeat: no-repeat
			background-position: right
			position: absolute
			right: 0
			bottom: 0
			z-index: 1
			@media screen and (max-width: 992px)
				width: 200px
				min-height: 170px
				opacity: 0.5

	&-secondBlock
		width: 100%
		display: flex
		align-items: center
		justify-content: flex-end
		position: relative
		margin-top: 20px

		&_title
			height: 500px
			display: flex
			align-items: flex-end
			justify-content: center
			flex-direction: column
			padding: 0 30px
			text-align: start
			position: relative
			z-index: 2
			min-width: 250px
			max-width: 500px

			h2
				@include calc("font-size", 20, 18)
				font-weight: bold

			@media screen and (max-width: 992px)
				width: 100%
				align-items: center

			&:last-child
				align-items: flex-start
				@media screen and (max-width: 992px)
					align-items: center

			button
				padding: 15px 30px
				background-color: #505160
				color: #fff
				border-radius: 6px

		&_list
			display: flex
			align-items: flex-start
			justify-content: flex-start
			flex-direction: column

			&-li
				margin: 15px 0
				display: flex
				align-items: center
				justify-content: flex-start
				padding: 0 8px

				span
					@include calc("font-size", 16, 14)
					margin-left: 8px

				img
					width: 20px
					height: 20px

		&_image
			width: 485px
			min-height: 400px
			background: url("../images/theke-two.png")
			background-size: contain
			background-repeat: no-repeat
			background-position: right
			position: absolute
			left: 0
			bottom: 30px
			z-index: 1
			@media screen and (max-width: 992px)
				opacity: 0.5
				width: 200px
				min-height: 170px

	&-thirdBlock
		width: 100%
		min-height: 560px
		display: flex
		align-items: center
		justify-content: flex-start
		position: relative
		background: url("../images/goldBgrotate.png")
		background-size: contain
		background-repeat: no-repeat
		background-position: bottom

		&_left
			padding-left: 30px
			position: relative
			z-index: 3
			min-width: 250px
			max-width: 500px

			&-title
				@include calc("font-size", 20, 18)
				font-weight: bold

			&-list
				display: flex
				align-items: flex-start
				justify-content: center
				flex-direction: column

				&_li
					margin: 15px 0
					display: flex
					align-items: center
					justify-content: flex-start
					padding: 0 8px

					span
						@include calc("font-size", 16, 14)
						margin-left: 8px

					img
						width: 20px
						height: 20px

			&-button
				padding: 15px 30px
				background-color: #505160
				color: #fff
				border-radius: 6px

		&_right
			width: 650px
			min-height: 400px
			background: url("../images/theke-there.png")
			background-size: contain
			background-repeat: no-repeat
			background-position: top
			position: absolute
			right: 0
			bottom: 0
			z-index: 1
			@media screen and (max-width: 992px)
				width: 400px
				min-height: 250px
				opacity: 0.5
				background-position: bottom

	&-fourthBlock
		width: 100%
		min-height: 350px
		max-height: 450px
		height: 100%
		border: 3px solid $basic-color-opacity
		border-radius: $border-radius

		&_wrapper
			width: 100%
			height: 100%
			display: flex
			align-items: center
			justify-content: center

			iframe
				width: 100%
				height: 100%
				border-radius: $border-radius

	&-fifthBlock
		width: 100%
		height: max-content
		background-color: #fff
		padding: 30px 0
		color: #505160

		&_title
			text-align: center
			@include calc("font-size", 25, 18)
			font-weight: bold

		&_wrapper
			width: 100%
			display: flex
			align-content: center
			justify-content: space-around
			padding: 20px
			position: relative
			flex-wrap: wrap

			&-block
				max-width: 320px
				margin: 0 12px
				text-align: center

				&_title
					font-size: 26px

				&_step
					min-width: 240px
					min-height: 150px
					width: 240px
					height: 150px
					@media screen and (min-width: 992px)
						&:active
							width: 500px
							height: 350px
							position: absolute
							top: 50%
							left: 50%
							transform: translate(-50%, -50%)

				&_content
					line-height: 30px
					@include calc("font-size", 18, 14)

	&-sixthBlock
		width: 100%
		background: url("../images/goldBg.png")
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		padding: 30px 0
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		overflow: hidden

		&_title
			text-align: center
			@include calc("font-size", 25, 18)
			font-weight: bold

		&_block
			border-radius: 6px
			padding: 50px
			background-color: #fff
			display: flex
			align-items: center
			justify-content: center
			flex-direction: column
			position: relative

			&-title
				font-size: 30px
				font-weight: bold
			&-sale
				position: absolute
				transform: rotate(-30deg)
				left: -70px
				top: 90px
				@media screen and (max-width: 680px)
					left: 10px
					transform: rotate(0deg)
				h2
					@include calc("font-size", 30, 22)
					color: $red
					text-shadow: $basic-color 1px 2px
					position: relative
					font-weight: bold

					&:before
						content: 'SALE'
						width: 150px
						height: 150px
						background-color: transparent
						position: absolute
						top: -160px
						left: 100px
						color: $white
						font-size: 50px
						text-shadow: $basic-color 3px 3px
						border-radius: 50%
						border-bottom: 75px solid #F7CE00
						border-top: 75px solid #0058B5
						transform: rotate(-8deg)
						@include centering
						z-index: 2
						@media screen and (max-width: 680px)
							display: none


			&-price
				@include calc("font-size", 40, 26)
				margin: 20px 0 30px 0
		//&-description
		&_button
			width: 320px
			height: 60px
			border: 2px solid #505160
			background-color: #505160
			border-radius: 6px
			@include calc("font-size", 22, 18)
			color: #fff
			margin-top: 20px

	&-carousel
		min-height: 500px
		&_wrapper
			min-height: 500px
			height: 100%
			//background-color: $basic-color-opacity
			@include centering
			&-item
				margin: 0 !important
		&_content
			@include starting
			flex-direction: column
			min-height: 350px
			overflow: hidden
			width: 100%
			height: 100%
			h3
				@include calc("font-size", 26, 18)
			p
				@include calc("font-size", 14, 12)
				@include calc("width", 600, 300)
				overflow: auto
				height: 150px
				line-height: 25px
				padding: 0 8px

.carousel-inner
	height: 250px
	@include starting
	align-items: flex-start
.carousel-item
	margin: 0 !important
.carousel-control-next, .carousel-control-prev, .carousel-control-next-icon, .carousel-control-prev-icon
	cursor: pointer
