@import '_variables'
.profile
	overflow: hidden
	&-title
		text-align: center
		font-size: 30px
		display: flex
		align-items: center
		justify-content: flex-start
		margin-left: 30px
		@include calc("font-size",34,25)
		&_dots
			width: 30px
			height: 30px
			position: absolute
			right: 10px
			background-color: transparent
			border-radius: 6px
			font-size: initial
			&:hover
				box-shadow: $box-shadow
			img
				width: 80%
				height: 80%
	&-body
		height: 100%
		overflow: auto
		display: flex
		align-items: flex-start
		justify-content: flex-start
		padding: 30px
		@media screen and (max-width: 992px)
			height: 85%
			flex-direction: column
			align-items: center


		&_wrapper
			display: flex
			align-items: center
			justify-content: center
			flex-direction: column
			&:first-child
				margin-right: 50px
				@media screen and (max-width: 992px)
					margin-right: 0

		&_photo
			width: 250px
			height: 350px
			border-radius: 6px
			background-position: center
			background-repeat: no-repeat
			background-size: cover
			@media screen and (max-width: 992px)
				width: 170px
				height: 270px


			&-block
				width: 100%
				background-color: transparent
				display: flex
				align-items: center
				justify-content: space-around
				padding: 10px

			&-button
				width: 55px
				height: 55px
				border: 1px solid #505160
				background-color: #505160
				border-radius: 50%
				position: relative
				img
				&:hover
					box-shadow: $box-shadow

		&_content
			width: 100%
			@include calc("font-size",16,12)
			@media screen and (max-width: 480px)
				margin-top: 20px

			&-text
				margin: 20px 0
				display: flex
				align-items: center
				flex-wrap: wrap

				&:nth-child(4)
					flex-direction: column
					align-items: flex-start
					margin-bottom: 10px
					span
						margin-bottom: 5px

				a
					color: #0d6efd
					font-weight: bold
					margin: 0 0 0 10px

				span, p, a
					max-width: 380px
					min-height: 30px
					@media screen and (max-width: 992px)
						min-height: 21px

				p
					overflow: auto
					margin: 0 0 0 10px

				span
					font-weight: bold

				&_description
					min-height: auto
					max-height: 150px
					line-height: 22px
					hyphens: manual
					word-wrap: anywhere
					padding: 4px

			&-socials
				a
					margin: 0 5px
					img
						border-radius: 50%
						&:hover
							box-shadow: $box-shadow
						@media screen and (max-width: 992px)
							width: 30px
							height: 30px
				&_instagram
					padding: 3px
					&:hover
						box-shadow: $box-shadow
